<!DOCTYPE html>
{% extends "app/base.html" %}

{% load static %}

{% block body_block %}
<h1>Comidas</h1>

	{% if meals_list %}
	<ul>
	{% for meal in meals_list %}
		<li id={{ meal.id }} 
			class='receipt {% if meal.is_new %}receipt_new{% endif %}' 
			data-category={{ meal.category }} 
			draggable="true">		
			<div class="receipt_name">
				{{ meal.name }}
				{% if meal.ingredients %}
				<span class="ingredients_trigger">-i-</span>
				{% endif %}
				{% if meal.link %}
				<span><a href={{ link }} target='_blank'>></a></span>
				{% else %}
				<span><a href="#" class="url_set">+</a></span>
				{% endif %}
				{% if meal.is_new %}
				<span class="label label-success">New!</span>
				{% endif %}
			</div>
			<div class='receipt_image img-wrapper'style="position: relative">
	    		<img class='img-responsive'  
	    			src="{% static "app/images/" %}{{ meal.image_name }}"  
	    			alt="Uh Oh, didn't show!"
	    			onerror="this.onerror=null;this.src='assets/img/placeholder.jpg';">
			</div>
			<div class="receipt_ingredients hide">
				{{ meal.ingredients }}
			</div>
		</li>
    {% endfor %}
	</ul>

	{% else %}
	<h2> No hay comidas </h2>h2>
	{% endif %}

{% endblock %}