<!DOCTYPE html>
{% extends "app/base.html" %}

{% load static %}

{% block body_block %}
<section id="productos" class="about-section section-first">
<div class="container">
<div class="row">
<div class="content-boxes-v6">
<div class="form-group input_autocomplete">
	<input class="js-autocomplete form-control" type="text">
</div>

	{% if meals_list %}
	<ul id="receipt_list">
	{% for meal in meals_list %}
		<li id={{ meal.id }}
			class='receipt {% if meal.is_new %}receipt_new{% endif %}'
			data-category={{ meal.category }}
			draggable="true">
			<div class="receipt_name">
				<a class="text-primary" href="{% url 'app:meal' meal.id %}" target='_blank'><strong>{{ meal.name|title }}</strong></a>

			{% if meal.ingredients %}
				<span class="glyphicon glyphicon glyphicon-menu-right ingredients_trigger	" aria-hidden="true"></span>
			{% endif %}
			</div>
			<div class='receipt_image img-wrapper'style="position: relative">
	    		<img class='img-responsive'
	    			src="{{ meal.image.url }}"
	    			alt="Uh Oh, didn't show!"
	    			onerror="this.onerror=null;this.src='{% static "app/images/placeholder.jpg" %}';">
			</div>
			<div class="receipt_ingredients hide">
				{{ meal.ingredients|linebreaks }}
			</div>
		</li>
    {% endfor %}
	</ul>

	{% else %}
	<h2> No hay comidas </h2>h2>
	{% endif %}

</div>
</div>
</div>
</section>

<footer class="footer">
	<div class="container">
		<button class="btn btn-primary btn-block">Filtrar</button>
      	<ul class="nav navbar-nav meal_filter">
      		<!-- If added new category, add it also to views.py -->
			<li role="presentation"><input type="checkbox" data-category="verduras"> Verduras</input></li>
			<li role="presentation"><input type="checkbox" data-category="carne"> Carne</input></li>
			<li role="presentation"><input type="checkbox" data-category="pasta"> Pasta</input></li>
			<li role="presentation"><input type="checkbox" data-category="pescado"> Pescado</input></li>
			<li role="presentation"><input type="checkbox" data-category="guiso"> Guiso</input></li>
			<li role="presentation"><input type="checkbox" data-category="especial"> Especial</input></li>
			<li role="presentation"><input type="checkbox" data-category="postre"> Postre</input></li>
			<li role="presentation"><input type="checkbox" data-category="new"> Nuevas </input></li>
      	</ul>
	</div>
</footer>

<div class="ingredients_template js-ingredients_template hide">
    <div class="modal-header">
		<button type="button" class="close ingredients_close_button" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Ingredientes</h4>
	</div>

	<div class="modal-body ingredients_list">
	</div>

    <div class="modal-footer">
<!-- 		<button type="button" class="btn btn-default ingredients_submit_button">Poner en lista</button> -->
        <button type="button" class="btn btn-secondary ingredients_close_button" data-dismiss="modal">Cerrar</button>
    </div>

</div>
{% endblock %}