<!DOCTYPE html>
{% extends "app/base.html" %}

{% load static %}
{% load myfilters %}

{% block body_block %}
<div class="container">
<div class="row">
<div class="content-boxes-v6">
<div class="col-md-12">
	{% for field in form %}
		{{field}}
	{% endfor %}
<!-- <h1>Nuevo plato</h1>
 -->
	    
<!-- 	        <label for="exampleInputEmail1">Email address</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
		    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
	        <h3>{{ meal.name }}</h3>
			<div class='receipt_image img-wrapper'style="position: relative">
	    		<img class='img-responsive'  
	    			src="{{ meal.image.url }}"  
	    			alt="Uh Oh, didn't show!"
	    			onerror="this.onerror=null;this.src='{% static "app/images/placeholder.jpg" %}';">
			</div>
	        {% if meal.ingredients %}
	        <h4>Ingredientes</h4>
	        <p>{{ meal.ingredients|linebreaks }}</p>
	        {% endif %}
	        {% if meal.category %}
	        <h4>Categoria</h4>
	        <p>{{ meal.category }}</p>
	        {% endif %}
	        {% if meal.complexity %}
	        <h4>Complejidad</h4>
	        <p>{{ meal.complexity }}</p>
	        {% endif %}
	        {% if meal.duration %}
	        <h4>Duracion</h4>
	        <p>{{ meal.duration }}</p>
	        {% endif %}
	        {% if meal.link %}
	        <h4><a href="{{ meal.link }}">Receta</a></h4>
	        {% endif %}
	        {% if meal.dates.count > 0 %}
	        <h4>Comido los dias:</h4>
				{% for date in meal.dates.all %}
					<p>{{date}}</p>
				{% endfor %}
	        {% endif %}

	<a type="button" href="{% url 'app:modify_meal' meal.id %}" class="btn btn-primary btn-block">Modificar</a>

</div>
</div>
</div>
{% endblock %}